{% extends 'base.html.twig'  %}



{%  block content %}



    <div class="bradcam_area breadcam_bg overlay2">

        <div class="button-group-area mt-40">
            <a href="{{ path('busf')}}" class="genric-btn default circle arrow"><h2>Espace Bus</h2><span class="lnr lnr-arrow-right"></span></a></div>
        <div class="button-group-area mt-40">
            <a href="{{ path('co')}}" class="genric-btn default circle arrow"><h2>Co-Voiturage</h2><span class="lnr lnr-arrow-right"></span></a></div>

    </div>
    <!-- End Button -->
{% endblock %}
