{% extends 'base2.html.twig'  %}
{% block content %}


    <!-- MAIN CONTENT-->
    <div class="main-content">
    <div class="section__content section__content--p30">
    <div class="container-fluid">

    <center><h3> <i>Gestion Des Livres</i></h3></center><br>
{{ form(form) }}
{% endblock %}