{% extends 'base.html.twig'  %}
{% block container %}
    <center><h1 class="pb-2 display-4">Gestion De Cours</h1></center><br><br>
    <div class="bradcam_area breadcam_bg overlay2">

        <div class="button-group-area mt-40">
            <center> <button><a href="http://localhost/PioneersApp/web/app_dev.php/ajoutercours" class="btn btn-secondary btn-lg btn-block" type="button">Ajouter Cours</a></button> </center><br><br>
            <center> <button><a href="http://localhost/PioneersApp/web/app_dev.php/afficher" class="btn btn-secondary btn-lg btn-block" type="button">Liste De Cours</a></button> </center>

        </div>

    <br><br><br><br>
        <center><h1 class="pb-2 display-4">Gestion De Livre</h1></center><br><br>
        <div class="button-group-area mt-40">
           <center><button><a href="http://localhost/PioneersApp/web/app_dev.php/ajouterlivre" class="btn btn-secondary btn-lg btn-block" type="button">Ajouter Livre</a></button></center><br><br>
            <center><button><a href="http://localhost/PioneersApp/web/app_dev.php/afficherl" class="btn btn-secondary btn-lg btn-block" type="button">Liste Des Livres</a></button></center>
        </div>

    </div>


{% endblock %}
